/* Reset some default styles for better consistency */
body,
h1,
h2,
p {
  margin: 0;
  padding: 0;
}

/* Basic styling for your blog */
body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  line-height: 1.6;
}

/* CSS for the header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: #fff;
  padding: 20px;
}

header h1 {
  margin: 0;
  font-size: 32px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li:last-child {
  margin-right: 0;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

/* CSS for the main content */
.main {
  padding: 20px;
}

.about-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
}

.about-content h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.about-content p {
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  margin-bottom: 20px;
}
/* 
.about-content img {
  max-width: 100%;
  border-radius: 50%; /* Makes the image circular */
/* margin-top: 20px;  Adds some space between the image and content */

/* Footer */
/* footer {
  text-align: center;
  padding: 10px;
  background-color: #333;
  color: #fff;
  position: fixed; /* Set the footer to a fixed position */
/* left: 0; */
/* bottom: 0; */
/* width: 100%;  */
/* Occupy the full width of the viewport */
/* } */

/* Footer styles */
footer {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

.footer-content {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.footer-section {
  flex: 1;
  padding: 10px;
}

.footer-section h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.footer-section p {
  margin: 0;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 5px;
}

.footer-section ul li a {
  text-decoration: none;
  color: #fff;
}

.footer-bottom {
  background-color: #222;
  padding: 10px 0;
}

.footer-bottom p {
  margin: 0;
  font-size: 14px;
}

/* CSS for the profile image */
.profile-image {
  max-width: 200px; /* Adjust the maximum width for the image */
  display: block; /* Ensure the image doesn't affect the text flow */
  margin: 0 auto 20px; /* Center the image horizontally and add some spacing at the bottom */
  border-radius: 50%; /* Makes the image circular */
}

